/*欢迎页面*/
.App {
  text-align: center;
}

.homelogo{
  color:black;
  float:left;
  font-size: 45px;
  margin-top:-2px;
}

.smilesoybean{
  margin-top:-1px;
  color:black;
  float:left;
  font-size:35px;
}

.webname{
  margin-top:-5px;
  color:orange;
  float:left;
  font-size: 45px;
}

.search{
  float:left;
}

.userlogo{
  float:left;
  font-size: 30px;
}

.login-form {
  max-width: 300px;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}

.login_ {
  margin-left:100px;
}

.tri_right{
  float:left;
  margin-top:-710px;
  width:0;
  height:0;
  line-height:0%;
  border-top:250px solid transparent;
  border-bottom:450px solid transparent;
  border-left:900px solid yellow;
  opacity: 0.7;
}

.li1{
  margin-left:-750px;
  margin-top:-10px;
  float:left;
  list-style: none;
  font-size: 200px;
}

.li2{
  color:grey;
  margin-top:-5px;
  margin-left:-1100px;
  list-style:none;
  font-size:90px;
}

.ins1{
  color: black;
  float:left;
  margin-top:125px;
  margin-left:-700px;
  font-size:25px;
}
.ins2{
  color:black;
  margin-top:175px;
  margin-left:-950px;
  font-size:25px;
}

.circle {
  float:left;
  width: 500px;
  height: 500px;
  background-color:whitesmoke;
  border-radius:50%;
  border: 50px solid yellow;
  margin-left:930px;
  margin-top:-600px;
  opacity: 0.5;
}

.bulb{
  margin-left: 180px;
  opacity:1;
}

.ask{
  font-size: 110px;
  margin-left:-160px;
  margin-top:-170px;
  font-weight: bold;
  color:black;
}

.now{
  font-size:110px;
  margin-left:-20px;
  margin-top:-140px;
  font-weight: bold;
  color:black;
}

.rect1{
  float:left;
  width:800px;
  height:60px;
  background-color: saddlebrown;
  opacity: 0.7;
  margin-top: -650px;
}

.rect2{
  float:left;
  width:710px;
  height:60px;
  background-color: saddlebrown;
  opacity: 0.7;
  margin-top:-550px;
}

.rect3{
  float:left;
  width:650px;
  height:60px;
  background-color: saddlebrown;
  opacity: 0.7;
  margin-top:-450px;
}

.ins3{
  letter-spacing: 7px;
  color: white;
  font-weight: 600;
  font-size: 40px;
  margin-left:-30px;
}

.ins4{
  letter-spacing: 7px;
  color:white;
  font-weight: 600;
  font-size: 40px;
  margin-left:150px;
}

.enterbtn1{
  float:left;
  width: 330px;
  margin-top: -550px;
  margin-left:900px;
}

.enterbtn2{
  float:left;
  width: 300px;
  height:180px;
  margin-top: -400px;
  margin-left:200px;
  font-size: 45px;
  border-color: cornflowerblue;
  border-width: 6px;
  border-radius: 20%;
}

.soybeanhelpyou1{
  float: left;
  opacity:0.9999;
  margin-left:200px;
  margin-top: -580px;
  font-size: 40px;
  color: white;
  letter-spacing: 9px;
}

.soybeanhelpyou2{
  float: left;
  opacity:0.5;
  margin-left:250px;
  margin-top: -610px;
  font-size: 40px;
  color: white;
  letter-spacing: 9px;
}

.circle1{
  float:left;
  opacity:0.7;
  width:200px;
  height:100px;
  background-color: white;
  margin-left: 600px;
  margin-top:-650px;
  border-radius: 40%;
}

.zhuanye{
  font-size: 40px;
  margin-top:20px;
  margin-left:5px;
  letter-spacing: 9px;
}

.circle2{
  float:left;
  opacity:0.7;
  width:200px;
  height:100px;
  background-color: white;
  margin-left: 1100px;
  margin-top:-400px;
  border-radius: 40%;
}

.xingge{
  font-size: 40px;
  margin-top:20px;
  margin-left:5px;
  letter-spacing: 9px;
}

.circle3{
  float:left;
  opacity:0.7;
  width:200px;
  height:100px;
  background-color: white;
  margin-left: 730px;
  margin-top:-200px;
  border-radius: 40%;
}

.xihao{
  font-size: 40px;
  margin-top:20px;
  margin-left:5px;
  letter-spacing: 9px;
}

.aboutus{
  float:left;
  opacity: 0.999;
  margin-left:200px;
  margin-top:-600px;
  font-size: 45px;
  font-weight: bold;
  color: aliceblue;
}

.insbox{
  float:left;
  opacity:0.8;
  width:300px;
  height:300px;
  background-color: grey;
  margin-left:200px;
  margin-top:-500px;
}
