/*此文件为写回答页面的css*/
@import '~antd/dist/antd.css';
/*整个页面*/
.write{
  text-align: center;
}
/*home图标*/
.homelogo{
  color:black;
  float:left;
  font-size: 35px;
  margin-top:-1px;
}
/*笑脸图标*/
.smilesoybean{
  margin-top:-1px;
  color:black;
  float:left;
  font-size:35px;
}
/*黄豆 | 知识*/
.webname{
  margin-top:-5px;
  color:orange;
  float:left;
  font-size: 45px;
}
/*搜索框*/
.search{
  float:left;
}
/*用户图标*/
.userlogo{
  font-size: 45px;
  margin-top:-6px;
}
/*底栏*/
.foot{
  left:0px;
  bottom:0px;
  color: white;
  background-color: black;
}
/*背景图片*/
.background{
  width:1519px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/*问题展示的区域盒子*/
.question{
  margin-top: 80px;
  margin-left: 250px;
  width:1000px;
  height:200px;
}
/*问题展示的容器卡片*/
.card1{
  width: 1000px;
  text-align:left;
  word-wrap:break-word;
  overflow:hidden;
  word-break: break-all;
}
/*问题详情的字体大小*/
h3{
    height:72px;
}
/*写回答的区域盒子*/
.display{
  background-color: white;
  float:left;
  width:589px;
  height:1150px;
  margin-left:251px;
  margin-top:90px;
  opacity: 0.9;
}
/*写回答的卡片*/
.card2{
  margin-top:20px;
  margin-left:30px;
  text-align:left;
  width:540px;
}
/*侧栏轮播图*/
.banner{
  float:left;
  margin-top: 90px;
  margin-left: 10px;
  position: sticky;
  top: 64px;
}

.ant-carousel .slick-slide {
  float: right;
  text-align:center;
  height:280px;
  line-height:280px;
  background-color: #61dafb;
  overflow:hidden;
}

.ant-carousel .slick-slide h3 {
  color: #ffffff;
}
